{% extends "navbar.html"%}

{% block body %}

{%if my_products%}

<table class="table table-success table-striped">
    <thead>
        <tr>
            <th>sl no</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {%for data in my_products%}
        <tr>
            <td>
                {{data.product_id}}<!--from model.py-->
            </td>
            <td>
                {{data.product_name}}
            </td>
            <td>{{data.product_description}}</td>
            <td>{{data.product_price}}</td>
            <td><a class = "btn btn-primary" href = "{% url 'edit-order' data.product_id %}">edit</a>
                <a class = "btn btn-primary" href = "{% url 'delete-order' data.product_id %}">Delete</a>
            </td>

        </tr>
        {%endfor%}
    </tbody>
</table>
{% else %}

No products found

{% endif %}

{% endblock body %}