<html>
    <head></head>

<body>
    <center>
<form action="" method="post">

    {% csrf_token %}

<fieldset>
<h4>Username</h4>
<input type="text" name="uname" id="uname"><br>


<h4>First Name</h4>
<input type="text" name="fname" id="fname"><br>

<h4>Last Name</h4>
<input type="text" name="lname" id="lname"><br>

<h4>Password</h4>
<input type="password" name="passw" id="passw"><br>

<h4>Confirm Password</h4>
<input type="password" name="confirm_pass" id="confirm_pass"><br>

<h4>Email</h4>
<input type="email" name="email" id="email"><br>



<input type="submit" name="submit" id="submit" value="Save">

    </fieldset>
</form>
</center>
</body>
</html>